<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>积分兑换说明</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="renderer" content="webkit"/>
  <meta content="yes" name="apple-touch-fullscreen"/>
	<meta content="telephone=no" name="format-detection"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
  <meta http-equiv="Expires" content="-1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="pragma" content="no-cache"/>
  <meta name="applicable-device" content="mobile"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta http-equiv="cache-control" content="max-age=0"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <link  rel="stylesheet" media="screen"   th:href="@{/static/instruction/css/page.css}" type="text/css"/>
  <script  th:src="@{/static/instruction/js/jquery-1.9.1.min.js}"  ></script>
	<style>
       img{margin:-0.5px;padding: 0;border: 0;outline:none;vertical-align:top;}
	</style>
</head>
<body >
<div class="wrap">
     <div class="gold-content">
          <div class="gold-header">
           <a href="javascript:void(0)" class="g-log"><img  th:src="@{/static/instruction/images/glog.jpg}"  /></a>
           <img   th:src="@{/static/instruction/images/top-header.jpg}" />
           <h3 class="gold-title">积分兑换说明</h3>
          </div>
          <h4 class="gold-tell">【消费金额兑换积分】</h4>
          <p>1.消费1元等于1分。积分可以兑换礼品或者项目。</p>
          <p>2.积分可以随时兑换，兑换完积分清零根据消费重新累计积分，积分期限一年。不兑换作废。</p>
           <img    th:src="@{/static/instruction/images/gcon1.jpg}"  style="margin-top:3%"/>
           <h4 class="gold-tell">【消费积分兑换奖品或者项目如下：（1元等于1分）】</h4>
           <table>
                <tr>
                <th>积分总额</th>
                <th colspan="2">兑换礼品</th>
              </tr>
              <tr>
                <td>5000分以下</td>
                <td colspan="2">氨基酸能量洁面乳一只价值260元<br/>或细胞氧疗1次价值498元</td>
              </tr>
              <tr>
                <td>5001—8000分</td>
                <td colspan="2">冰动力能量凝水膜一盒价值280元<br/>或SOD皮肤净化循环1次价值680元</td>
              </tr>
              <tr>
                <td>8001—10000分</td>
                <td colspan="2">水漾玻尿酸凝水膜一盒价值338元<br/>或细胞氧疗3次价值1494元</td>
              </tr>
              <tr>
                <td>10001—20000分</td>
                <td colspan="2">温泉矿物补水凝霜一只价值360元<br/>或细胞氧疗5次价值2490元</td>
              </tr>
              <tr>
                <td>20001—30000分</td>
                <td colspan="2">红藻美白淡印面膜一袋价值428元<br/>或SOD皮肤净化循环3次<br/>价值2040元</td>
              </tr>
              <tr>
                <td>30001—50000分</td>
                <td colspan="2">水漾清透爽肤露350ml一瓶价值686<br/>元或SOD皮肤净化循环5次<br/>价值3400元</td>
              </tr>
              <tr>
                <td>50001以上</td>
                <td colspan="2">温泉矿物补水凝霜350ml一瓶价值1200元或SOD皮肤净化循环3次<br/>和细胞氧疗5次价值4530元</td>
              </tr>
           </table>
<!--            <h4 class="gold-tell">【签到获得积分】</h4>
          <p>签到一次可以获得1分。签到二次可以获得2分，签到三次可以获得3分，以此类推，一星期为终点。（一星期合计28分）。另加10元可获得价值35元面膜一片。</p>
          <h4 class="gold-tell">【分享获得积分】</h4>
          <p>朋友圈每天分享一次，累计三天即三次可以获得面膜一片。</p> -->
          <p style="color:#ff4800">备注：分享的二维码有朋友关注，进店消费后可以获得蕾豆。蕾豆可以兑换项目或者折合现金提现。</p>
          <div class="g-footer">
               <img   th:src="@{/static/instruction/images/gfooterbg.jpg}" />
          </div>
     </div>

 </div>  
</body>



</html>