html,body{font-size:14px;margin:0;padding:0;color:#333;}
.bgColor_1{background:#F9F9F9}
.bgColor_2{background:#F3F3F3}
.bgColor_3{background:#C0A065}
.border_1{border:3px solid #F6D7A8}
ul,li,dl,dt,dd{list-style: none;padding:0;margin:0;}
a{text-decoration:none;color:#333;}
.tc1{color:#999}