<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css"  th:href="@{/static/store/css/style.css}"   />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/bj_top.png}"  />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>民生百货宝鸡店位于宝鸡市经二路114号，前身是经二路百货商店，拥有50多年的历史。2003年9月1日重新装修开业，经营面积8800平米。<br/>民生百货宝鸡店以°精于品质，专于生活°为经营翌念，以宝鸡高端消费第一店为经营目标，通过品牌调整服务转型，营销创新，引领市民消费理念，已成为宝鸡百货业态中"时尚奢华"的代表，并将继续引领宝鸡时尚潮流，力争打造宝鸡大型购物中心的新地标。</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	10:00AM - 9:30PM<br/>
	店铺地址<br/>
	陕西省宝鸡市经二路114号<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>