<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css"  th:href="@{/static/store/css/style.css}"/>
</head>
<body>
<header>
	<img th:src="@{/static/store/images/ca_top.png}"   />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>民生百货长安店开业于2015年1月30日。门店分为八层，建筑面积2.8万平方米，1-4层为百货，主营化妆品、鞋包、珠宝、时尚女装、男装、户外运动、家居生活用品等品类；5-8层为新东方、健身、培训教育及餐饮娱乐配套，我们倡导“知生活、乐生活”的消费理念，继续秉承"为社会做点事、为他人做点事”的文化内涵，全力为城南顾客提供惬意的购物环境、时尚多变的购物享受，引领整个长安区商业发展的新潮流。<br/>交通状况：门店位于长安区西长安街南侧，信合巷东侧，距离长安广场200米左右，紧邻地铁二号线航天城站，并有 600. 616. 906. 321. 324. 4-06. 4-07. 4-08.4-10.4-16等10余条公交线路直达。</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
		营业时间<br/>
	10:00AM - 9:30PM<br/>
	店铺地址<br/>
	西安市长安区西长安街138号<br/>
	客服电话<br/>
	029-87942788
	</p>
</section>

<footer></footer>
</body>
</html>