<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}" />
</head>
<body>
<header>
	<img   th:src="@{/static/store/images/hz_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
民生百货汉中阳光店位于陕西省汉中市天汉大道968号，处于汉中市核心商业区，距今已有40年的历史，占地面积1.82万平方米，营业面积2.28万平米。<br/>公司一直秉承“荟萃国内外名优精品，忠诚服务于消费者”的经营理念，恪守“质量第一、信誉第一、服务第一”的经营宗旨，以家电、百货、超市等经营为一体，大家电经营一直雄居汉中龙头，是汉中地区最大的商业流通企业。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	09:30 - 21:00<br/>
	店铺地址<br/>
	陕西省汉中市天汉大道968号<br/>
	客服电话<br/>
	0916—2248880
	</p>
</section>

<footer></footer>
</body>
</html>