<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}" />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/lms_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>民生百货骡马市购物中心成立于2009年，位于西安市最悠久繁华的核心商业地区——“骡马市商业步行街”(东大街骡马市1号)。这里交通便利，客流集中。东邻南、北柳巷，西邻骡马市，南邻东木头市，北邻东大街。民生骡马市购物中心提倡“一站式”购物方式，高6层，营业面积8.8万平方米，是一个聚集购物、休闲、餐饮、娱乐、文化等丰富内容的大型经营场所，在这里人们可以完成一切日常及时尚所需的消费活动。
	<br/>
	民生百货骡马市购物中心自成立以来，以着力打造”时尚、潮流、精品“购物中心为己任，凭借着突出的商业文化特色和对西安商界的良性冲击，活跃了古城的文化底蕴及时尚氛围，成为历史古城文物保护与商业开发合谐发展的典范。</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	9:30AM - 10:00PM<br/>
	店铺地址<br/>
	西安市碑林区东大街骡马市1号<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>