<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}" />
</head>
<body>
<header>
	<img  th:src="@{/static/store/images/ls_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
	民生百货龙首店位于西安市城北末央区末央大道80号盛龙广场南侧，地处北城龙首繁华商圈。周边餐饮、超市、影院等配套齐全，是集“购物、休闲、娱乐”为一体的社区性购物中心。<br/>民生百货龙首店致力于服务城北客群，为城北客群打造一个除家庭、工作环境以外的第三生活空间。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	10:00AM - 9:30PM<br/>
	店铺地址<br/>
	西安市未央区未央路和方新南路交叉口<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>