<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}"  />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/qj_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
民生百货曲江店地处的曲江新区位于西安城区东南部，以文化、旅游为主导产业，拥有中国最大的唐文化广场一大雁塔北广场及大慈恩寺玄奘广场，汇聚慈恩寺遗址公园、大唐芙蓉园、曲江海洋馆、唐城墙遗址公园、曲江池遗址公园等大型文化观光消费场所，是商业发展最具潜力的龙头区域。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	周日-周四 10:00AM - 9:30PM<br/>
	周五-周六 10:00AM - 10:00PM<br/>
	店铺地址<br/>
	西安市雁塔区雁塔南路518号<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>