<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}"  />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/qy_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
民生百货庆阳店(庆阳新天地购物广场)于2007年10月18日盛大开业，是民生百货实施以西安为中心，以省内外二、三线城市为重点的战略发展规划所开设的第一家以百货零售业为主的直营现代化大型购物中心，位于庆阳市北大街60号大什字核心商圈，营业面积逾1.9万平米。
<br/>
	民生百货庆阳店以诚信、业绩、创新为最终目标，引领庆阳商业新形象，为庆阳人民创建一个集购物、娱乐、休闲为一体的大型现代化购物新天地。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	10:00AM - 9:30PM<br/>
	店铺地址<br/>
	庆阳市北大街60号大什字核心商圈<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>