<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}"  />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/tj_top.png}"  />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
天津国际商场始建于1986年，位于天津市和平区南京路211号，南京路-滨江道核心商圈。商场分为A、B两座楼宇，总营业面积2.39万㎡，采用津门首家同店双座错位经营的经营模式，汇集优衣库、周大福、星巴克、U lifestyle等众多知名品牌，打造集休闲、餐饮、娱乐、文化于一体的百货商场。自2011年起，连续5年荣获“天津市最满意百货店”和“和平区功臣企业”荣誉称号，获得了企业经济效益与社会影响的双丰收。<br/>
2017年初，随着进入民生百货新的平台，天津国际必将迎来更新更广阔的发展机遇。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	周日-周四10:00 - 21:00<br/>
	周五、周六10:00 - 21:30
	店铺地址<br/>
	天津市和平区南京路211号<br/>
	客服电话<br/>
	022-27810123
	</p>
</section>

<footer></footer>
</body>
</html>