<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}"  />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/wj_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
民生百货文景店作为民生的首家社区购物中心，坐落于北城文景路与凤城八路交汇处(白桦林居南侧)，是西安新兴政治、经济、文化中心的北郊经济技术开发区的重要商业网点，总面积4万余平方米，集百货、餐饮、超市、家电、教育及休闲为一体的家庭型一站式生活休闲购物中心。民生百货文景店倡导社区消费新主张，追求便利时尚好生活，同时也将为北城全新生活方式提供多样选择。
<br/>
交通状况：毗邻地铁2号线，有十余条公交线路直达门店, 如 1 1 7. 1 08. 227. 228. 238. 263. 264. 714.903等公交线路，门店南厂场紧邻规划中的地铁4号线盐东村站，停车便利，享有近600个地下停车位。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	周日-周四 10:00AM - 21:00PM<br/>
	周五-周六 10:00AM - 21:30PM<br/>
	店铺地址<br/>
	西安市文景路116号<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>