<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}"  />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/ya_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
	民生百货延安店位于东大街与百米大道交界处，坐落于延安市黄金宝地——东方世纪广场。<br/>
	民生百货延安店主要经营珠宝、化妆品、鞋包、名表、男装、女装、少数女装、户外休闲、儿童家电等10余个品类。通过高品质的品牌、管理、服务，引领延安地区消费潮流，以时尚化、精品化、品牌化的经营定位引领延安时尚消费新概念，为延安百货注入新的活力与时尚，引导全新的健康生活方式，全方位满足顾客生活需求，创造都市美好时尚新生活。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	10:00AM - 9:30PM<br/>
	店铺地址<br/>
	陕西省延安市东方世纪广场<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>