<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}" />
</head>
<body>
<!-- <header>
	<img th:src="@{/static/store/images/jfl_top.png}" />
</header>
 -->
<section style="height: 80%;">
<!-- 	<h1>门店简介<span></span></h1>
	<p>民生百货解放路店始建于 1959 年，距今已有 58 年的历史。门店位于陕西省西安市解放路 103 号，地处核心商贸圈，营业面积约 5 万平米，是经营女装、男装、鞋包、珠宝、化妆品等品类的大型综合百货店。<br/>民生百货解放路店致力于为顾客提供便捷、舒适、放心的购物场所。目前，门店通过不断调整品类结构、品牌类型，提升员工服务品质，不断创造高端销售潮流，为顾客营造温馨亲切的购物之家，全面打造民生百货标杆店。</p> -->
	<h1>门店简介<span></span></h1>
	<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蕾特恩专业祛痘（国际）连锁,源自法国的面部健康专家,秉承着“用心感动每一张面孔”的服务理念,汇聚全球强大的医学美容导师团队和设备研发资源,为世界各地提供优质安全的皮肤健康医学和美容护理服务。2012年进入中国，目前已在各大城市开设近800家专业祛痘中心。
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蕾特恩自进驻中国以来,凭借着在祛痘领域的科研技术优势与优质服务,以专业检测方法和调查数据结果为依据,以“R12藻类胶原肽逆酶因子痤疮技术”、“ PHA 肌源多肽淡印修复技术”、“DNA靶向黑头导出技术”、“ GSH活性酶细胞修复技术”为核心,首家执行“科学分型,一人一方”的祛痘理念,并推行“签约祛痘,终生维护”的祛痘服务体系,为超过40万痘友重新找回美丽！
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蕾特恩在做大做强事业并获得一个又一个丰硕成果的同时,始终没有忘记自身的社会责任,以社会公益事业为已任，倾情回报社会。“关爱聋哑人就业”、“圆花季少女空姐梦”、“赞助医疗事业”等事件被各大电视台及媒体报导,在关注社会慈善和公益事业的广阔领域里,都留下了动人事迹,蕾特恩把慈善博爱和希望撒播在中国大地的城市和乡村。
</p>
</section>
<!-- <section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	9:30AM - 10:00PM<br/>
	店铺地址<br/>
	西安市新城区解放路103号<br/>
	客服电话<br/>
	029-87481797
	</p>
	
</section>
 -->
<footer></footer>
</body>
</html>