<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>门店信息</title>
<meta name="keywords" content=""/>
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/store/css/style.css}"  />
</head>
<body>
<header>
	<img th:src="@{/static/store/images/zl_top.png}" />
</header>

<section>
	<h1>门店简介<span></span></h1>
	<p>
民生百货钟楼店位于钟楼之北，距离钟楼仅100米。紧邻钟鼓楼广场，交通便捷，百余条公交路线途经此处，仅门店主入口处就有11个公交站点及出租车停靠点，地铁2号线直达，地理位置得天独厚。商场主入口面向北大街，以“时尚精品店+餐饮、休闲”的最新组合业态，形成集购物、休闲、餐饮于一体的时尚购物中心，为消费者提供“一站式”便捷、舒适购物空间。
	</p>
</section>
<section>
	<h1>营业信息<span></span></h1>
	<p>
	营业时间<br/>
	10:00AM - 9:30PM<br/>
	店铺地址<br/>
	西安市北大街28号<br/>
	客服电话<br/>
	029-87481797
	</p>
</section>

<footer></footer>
</body>
</html>