<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
<title>设置</title>

<link  th:href="@{/static/css/weui/bootstrap.css}"  rel="stylesheet" type="text/css"/>
<link  th:href="@{/static/css/weui/home.css}"  rel="stylesheet" type="text/css"/>
<link  th:href="@{/static/css/weui/font_6yxmrwgmg7kl0udi.css}"  rel="stylesheet" type="text/css"/>
<link rel="stylesheet"   th:href="@{/static/userMessage/weui/lib/weui.min.css}"/>
<link rel="stylesheet"   th:href="@{/static/userMessage/weui/css/jquery-weui.min.css}"/>
<link rel="stylesheet"   th:href="@{/static/userMessage/css/module.css}" />
<style type="text/css">
.icon-jiantou-copy-copy:before {content: "\e601";}
</style>
</head>
<body>
<!--top-->
<div class="top_c" style="background-color: #daeef5;">
	<a href="initAccount" class="iconfont icon-jiantou-copy-copy"></a>
	<p class="titi" style="color: black;">
		设置
	</p>
</div>
<!--列表-->
<div class="lie_b" style="margin-top: 3.5em;padding:0;">
	<div class="container">
		<div class="one">
			<a href="javascript:void(0);">
			<p class="biao">
				<span class="iconfont"></span>实名认证<i class="iconfont icon-jiantou"></i><c style="float:right;margin-right:10%;">未认证</c>
			</p>
			</a>
		</div>
		<div class="one" style="border-bottom:none;">
			<a href="javascript:void(0);">
			<p class="biao">
				<span class="iconfont"></span>资金密码<i class="iconfont icon-jiantou"></i><c style="float:right;margin-right:10%;">未设置</c>
			</p>
			</a>
		</div>
	</div>
</div>
<div class="lie_b">
	<div class="container">
		<div class="one">
			<a href="javascript:void(0);">
			<p class="biao">
				<span class="iconfont"></span>绑定手机号<i class="iconfont icon-jiantou"></i><c style="float:right;margin-right:10%;">已绑定</c>
			</p>
			</a>
		</div>
		<div class="one">
			<a href="javascript:void(0);">
			<p class="biao">
				<span class="iconfont"></span>绑定邮箱<i class="iconfont icon-jiantou"></i><c style="float:right;margin-right:10%;">未绑定</c>
			</p>
			</a>
		</div>
		<div class="one" style="border-bottom:none;">
			<a href="javascript:void(0);">
			<p class="biao">
				<span class="iconfont"></span>重置登录密码<i class="iconfont icon-jiantou"></i>
			</p>
			</a>
		</div>
	</div>
</div>
<div class="lie_b">
	<div class="container">
		<div class="one" style="border-bottom:none;">
			<a href="javascript:void(0);">
			<p class="biao">
				<span class="iconfont"></span>语言<i class="iconfont icon-jiantou"></i>
			</p>
			</a>
		</div>
	</div>
</div>
<!--footer-->



<div class="footer">

	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<a href="javascript:void(0);" class="dao">
				<i class="iconfont icon-shouye-copy-copy-copy"></i>
				<span class="nav_ti">商城</span>
				</a>
			</div>
			<div class="col-xs-4">
				<a href="cart" class="dao">
				<i class="iconfont icon-zhangdan"></i>
				<span class="nav_ti">购物车</span>
				</a>
			</div>
			<div class="col-xs-4">
				<a href="initAccount" class="dao">
				<i class="iconfont icon-information" style="color:#246fc0;"></i>
				<span class="nav_ti" style="color:#246fc0;">个人中心</span>
				</a>
			</div>
		</div>
	</div>


</div>

</body>
</html>