<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="renderer" content="webkit">
  <meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no" name="format-detection">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="pragma" content="no-cache"/>
  <meta name="applicable-device" content="mobile">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cache-control" content="max-age=0"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="expires" content="0"/>
  <meta http-equiv="Set-Cookie" content="name=value expires= Sat Sep 27 16:12:36 CST 2008, path=/" />
	<meta name='renderer' content="webkit" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="cel" />
  <link href="css/point2.css" rel="stylesheet" media="screen" type="text/css">
  <script src="js/jquery-1.9.1.min.js"></script>
	<style>
       img{margin:-0.5px;padding: 0;border: 0;outline:none;vertical-align:top;}
	</style>
</head>
<body ontouchstart>
<div class="wrap">
     <div class="pt2-head">
         <a href="javascript:void(0)" ><img src="images/toppage1.png"></a>
         <div class="ponit2-title">会员中心</div>
        <a href="javascript:void(0)" ><img src="images/more.png"></a>
     </div>
      <div class="pt2-content">
         <a href="javascript:void(0)" class="gt-name"><img src="images/name.png"></a>
         <div><a href="javascript:vodi(0)" class="gt-name1">巨伟刚</a>
         <a href="javascript:vodi(0)" class="gt-name2">卡号：700203207</a>
         <a href="javascript:vodi(0)" class="gt-name3">积分2069</a>
         <div class="clear"></div>
         </div>
        <a href="javascript:void(0)" class="gt-name4">银卡</a>
        <p class="clear"></p>
     </div>
      <ul class="pt2-project">
        <li><a href="javascript:void(0)"><img src="images/pt2-nav.png"><p>品牌活动</p></a></li>
        <li><a href="javascript:void(0)"><img src="images/pt2-Voucher.png"><p>我的券包</p></a></li>
        <li><a href="javascript:void(0)"><img src="images/pt2-active.png"><p>精彩活动</p></a></li>
        <li class="order-integral"><a href="javascript:void(0)"><img src="images/pt2-active2.png"><p>会员权益</p></a></li>
        <div class="clear"></div>
    </ul>
    <ul class="pt2-project2">
        <li><a href="javascript:void(0)"><img src="images/pt2-map.png"><p>智慧停车<br/><span>绑定车牌</span></p></a></li>
        <li><a href="javascript:void(0)"><img src="images/pt2-code.png"><p>会员二维码</p></a></li>
        <div class="clear"></div>
    </ul>
    <div class="pt2-acitve">
         <div class="pt2-order1"><p>最新活动</p><p class="pt2-order2"><a href="javascript:void(0)">更多</a></p></div>
         <div class="clear"></div>
         <ul class="pt2-mian">
           <li>
              <img src="images/pt2-objext.jpg">
              <a href="" >ladies and仙女们，国际范儿帮你美出新高度</a>
           </li>
            <li>
              <img src="images/pt2-objext.jpg">
              <a href="" >ladies and仙女们，国际范儿帮你美出新高度</a>
           </li>


         </ul>
    </div>
 </div>  
</body>
</html>