
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_p0jt4bjt679icnmi.eot?t=1500526719258'); /* IE9*/
  src: url('//at.alicdn.com/t/font_p0jt4bjt679icnmi.eot?t=1500526719258#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_p0jt4bjt679icnmi.woff?t=1500526719258') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_p0jt4bjt679icnmi.ttf?t=1500526719258') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_p0jt4bjt679icnmi.svg?t=1500526719258#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e60a"; }

.icon-shop:before { content: "\e676"; }

.icon-scan:before { content: "\e68a"; }

.icon-friends:before { content: "\e621"; }

.icon-code:before { content: "\e61b"; }

.icon-refresh:before { content: "\e6ac"; }

.icon-icon:before { content: "\e602"; }

.icon-phone:before { content: "\e959"; }

.icon-menu:before { content: "\e652"; }

.icon-map:before { content: "\e715"; }

.icon-settings:before { content: "\e63f"; }

.icon-star:before { content: "\e62f"; }

.icon-creditlevel:before { content: "\e735"; }

.icon-iconfontcheck:before { content: "\e607"; }

.icon-home:before { content: "\e9bb"; }

.icon-share1:before { content: "\e642"; }

.icon-remove:before { content: "\e675"; }

.icon-ys-browser:before { content: "\e600"; }

.icon-edit:before { content: "\e689"; }

.icon-card:before { content: "\e603"; }

.icon-emoji:before { content: "\e60c"; }

.icon-app:before { content: "\e60e"; }

.icon-picture:before { content: "\e618"; }

.icon-me-copy:before { content: "\e601"; }

.icon-message:before { content: "\e841"; }

.icon-icon-net-cloud_download:before { content: "\e604"; }

.icon-share:before { content: "\e7e1"; }

.icon-shangjiantou:before { content: "\e730"; }

.icon-xiajiantou:before { content: "\e731"; }

.icon-youjiantou:before { content: "\e732"; }

.icon-zuojiantou:before { content: "\e733"; }

.icon-caret:before { content: "\e608"; }

.icon-gift:before { content: "\e626"; }

.icon-iconfont-computer:before { content: "\e617"; }

.icon-cart:before { content: "\e6d4"; }

